#profile-pic {

	margin-top: 20px;

	@include for-phone-only {
		width: 290px;
	}

	@include for-tablet-portrait-up {
		width: 300px;
	}

	@include for-tablet-landscape-up {
		width: 400px;
	}

	@include for-desktop-up {
		width: 400px;
	}
}

.about-me-header {
	font-family: 'AvenirNext-Bold';
	color: $color-hotpink;
		
	@include for-phone-only {
		text-align: center;
	}
}

.about-me-text {		
	@include for-phone-only {
		text-align: center;
	}
}