@keyframes colorChangeHappyBackground {
    0%   {background-color: $color-light-pink;}
    25%  {background-color: $color-lightsalmon;}
    30%  {background-color: $color-lightsalmon;}
    50%  {background-color: $color-lightcoral;}
    100% {background-color: $color-lightcoral;}
}

.happyBackground {
    animation: colorChangeHappyBackground 5s forwards;
}

@keyframes colorChangeSadBackground {
    0%   { background-color: $color-blurgreen-dark }
    25%  { background-color: $color-blue-darker; }
    30%  { background-color: $color-blue-darker; }
    50%  { background-color: $color-blurgreen; }
    100% { background-color: $color-blurgreen; }

}

.sadBackground {
   animation: colorChangeSadBackground 5s forwards;
}

@keyframes color-change-happy {
    0% { color: $color-purple; }
    50% { color: $color-hotpink; }
    100% { color: $color-purple; }
}

.colorChangeHappyVerticalText {
    animation: color-change-happy 1s infinite;
}

@keyframes color-change-sad {
    0% { color: black; }
    50% { color: #b9bcc1; }
    100% { color: black; }
}

.colorChangeSadVerticalText {
    animation: color-change-sad  1s infinite;
}




@-webkit-keyframes swing {
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


.container-illustration {

    #illustration {
        &:hover {
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;

        }
    }
}


