#canvas {

  display: block;
  margin: 0 auto;
  margin-bottom: $grid-gutter-width;
}

.art-container {
	display: none;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
	
	a{
		color: $color-white;
		font-family: 'AvenirNext-Bold';
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $color-hotpink;
			text-decoration: none;
		}
	}

	#try-again {
		color: $color-hotpink;
		font-family: 'AvenirNext-Bold';
		cursor: pointer;
	}
}

.animations {
	@include for-phone-only {
		width: 300px;
	}

	@include for-tablet-portrait-up {
		width: 800px;
	}

	@include for-desktop-up {
		width: 900px;
	}
}
.container-loading-artwork {
	display: none;
}
