#canvas {

  display: block;
  margin: 0 auto;
  margin-bottom: $grid-gutter-width;
}

.art-container {
	display: none;
	@include for-desktop-up {
		margin-top: $grid-gutter-width;
	}

	@include for-tablet-portrait-up {
		margin-top: $grid-gutter-width*4;
	}

	@include for-phone-only {
		margin-top: 0px;
	}
	
	a {
		color: $color-white;
		font-family: 'AvenirNext-Bold';
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $color-hotpink;
			text-decoration: none;
		}
	}
}

.animations {
	@include for-phone-only {
		width: 300px;
	}

	@include for-tablet-portrait-up {
		width: 800px;
	}

	@include for-desktop-up {
		width: 900px;
	}
}
