#art-work-happy, #art-work-sad {
	
	@include for-phone-only {
		width: 200px;
	}

	@include for-tablet-portrait-up {
		width: 400px;
	}

	@include for-tablet-landscape-up {
		width: 400px;
	}

	@include for-desktop-up {
		width: 420px;
	}
}

#artwork-container-sad, #artwork-container-happy {

	display: none;

	h2 {
		margin-bottom: $grid-gutter-width;
		@include for-phone-only {
			font-size: 20px;
			margin-top: 0px;
		}
	}
	
	@include for-desktop-up {
		margin-top: $grid-gutter-width*3;
	}

	@include for-tablet-portrait-up {
		margin-top: $grid-gutter-width*3;
	}

	@include for-phone-only {
		margin-top: 0px;
	}
}

.animations {
	@include for-phone-only {
		width: 300px;
	}

	@include for-tablet-portrait-up {
		width: 800px;
	}

	@include for-desktop-up {
		width: 900px;
	}
}


#download-btn-container-happy, #download-btn-container-sad {
	margin-top: $grid-gutter-width;
	
	a {
		color: $color-white;
		font-family: 'AvenirNext-Bold';
		cursor: pointer;
		text-decoration: none;

		&:hover {
			color: $color-hotpink;
			text-decoration: none;
		}
	}
}






