.button, .button-sad {
	border-radius: 0px;
	padding: 10px;
	transition: all .1s ease-in-out;
	color: white;
	font-family: 'SofiaProBlack';
	font-size: 20px;
	cursor: pointer;
}


.button {
	margin-bottom: $grid-gutter-width;
	transition: all .1s ease-in-out;
	box-sizing: border-box;
	border: 2px solid $color-white;

		&:hover {
		
		background-color: $color-purple;
		color: $color-white;
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  		transform: translate3d(0, 0, 0);
  		backface-visibility: hidden;
  		border: 2px solid $color-purple;
	}
}

.button-sad {
	margin-bottom: $grid-gutter-width;
	transition: all .1s ease-in-out;
	box-sizing: border-box;
	border: 2px solid $color-white;

		&:hover {
		
		background-color: $color-lightgrey;
		color: $color-black;
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  		transform: translate3d(0, 0, 0);
  		backface-visibility: hidden;
  		border: 2px solid $color-lightgrey;
	}
}
//bts happy
#btn-feeling-one, #btn-feeling-two {
	margin-bottom: $grid-gutter-width;
	display: none;
}

#btn-feeling-three, #btn-feeling-four {
	margin-bottom: $grid-gutter-width;
	display: none;
}

#btn-feeling-five, #btn-feeling-six {
	margin-bottom: $grid-gutter-width;
	display: none;
}

#btn-feeling-seven, #btn-feeling-eight {
	margin-bottom: $grid-gutter-width;
	display: none;

}
//btns sad
#btn-feeling-one-sad, #btn-feeling-two-sad {
	margin-bottom: $grid-gutter-width;
	display: none;
}

#btn-feeling-three-sad, #btn-feeling-four-sad {
	margin-bottom: $grid-gutter-width;
	display: none;
}

#btn-feeling-five-sad, #btn-feeling-six-sad {
	margin-bottom: $grid-gutter-width;
	display: none;
}

#btn-feeling-seven-sad, #btn-feeling-eight-sad {
	margin-bottom: $grid-gutter-width;
	display: none;

}

.button-section-1, .button-section-2, .button-section-3, .button-section-4  {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translate(0, -50%);
  	transform: translate(0, -50%);
}

.button-section-1-sad, .button-section-2-sad, .button-section-3-sad, .button-section-4-sad  {
	-webkit-transform: translate(0, -50%);
  	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}


.container-first-step {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);

	.sad-btn, .happy-btn {
		font-size: 46px;
		font-family: 'SofiaProBlack';
		text-transform: uppercase;
		cursor: pointer;
	}

}

.download-btn {
	color: $color-purple;
	font-family: 'SofiaProBlack';
	cursor: pointer;
	
	&:hover {
		color: $color-hotpink;
		text-decoration: none;
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

