.button, .button-sad {
	border-radius: 0px;
	padding: 10px;
	transition: all .1s ease-in-out;
	color: white;
	font-family: 'AvenirNext-Bold';
	font-size: 20px;
	cursor: pointer;
	margin-bottom: $grid-gutter-width;
	box-sizing: border-box;
	border: 2px solid $color-white;

		&:hover, &:active {
		
		background-color: $color-purple;
		color: $color-white;
		animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  		transform: translate3d(0, 0, 0);
  		backface-visibility: hidden;
  		border: 2px solid $color-purple;
	}
}


.button-container, .container-first-step {
  	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: none;
}

#step-one {
  	transform: translate(0, -50%);
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}


#sad-smiley-btn, #happy-smiley-btn {
	margin-bottom: $grid-gutter-width;
	font-size: 80px;
	cursor: pointer;
	color: $color-white;
	transition: all .1s ease-in-out;

	&:hover {
		color: $color-hotpink;
	}
}

#sad-smiley-btn {
	@include for-desktop-up {
		margin-right: 100px;
	}
	@include for-tablet-portrait-up {
		margin-right: 100px;
	}
}

#happy-smiley-btn {
	@include for-desktop-up {
		margin-left: 80px;
	}

	@include for-tablet-portrait-up {
		margin-left: 80px;
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

