//Bold font
@font-face {
    font-family: 'AvenirNext-Bold';
    src: url('fonts/AvenirNext-DemiBold.eot');
    src: url('fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNext-Bold.woff') format('woff'),
         url('fonts/AvenirNext-Bold.ttf') format('truetype');
}

//Demi-Bold font

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src: url('fonts/AvenirNext-DemiBold.eot');
    src: url('fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNext-DemiBold.woff') format('woff'),
         url('fonts/AvenirNext-DemiBold.ttf') format('truetype');
}


//Demi-Bold-Italic font

@font-face {
    font-family: 'AvenirNext-DemiBoldItalic';
    src: url('fonts/AvenirNext-DemiBoldItalic.eot');
    src: url('fonts/AvenirNext-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNext-DemiBoldItalic.woff') format('woff'),
         url('fonts/AvenirNext-DemiBoldItalic.ttf') format('truetype');
}


//Medium font

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('fonts/AvenirNext-Medium.eot');
    src: url('fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNext-Medium.woff') format('woff'),
         url('fonts/AvenirNext-Medium.ttf') format('truetype');

}


//Regular font

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('fonts/AvenirNext-Regular.eot');
    src: url('fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/AvenirNext-Regular.woff') format('woff'),
         url('fonts/AvenirNext-Regular.ttf') format('truetype');
}