.header {
	width: 100%;
	margin-bottom: $grid-gutter-width;

}

ul {
	padding: 0px;

	li {
		display: inline-block;
		font-family: 'SofiaProBlack';
		font-size: 16px;


		a {
			text-decoration: none;
			color: $color-white;
			padding: $grid-gutter-width/2;
			position: relative;

			&:hover {
				text-decoration: none;
				color: $color-purple;
			}

			

			&:before {

				content: "";
				position: absolute;
				width: 100%;
				height: 2px;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: $color-white;
				visibility: hidden;
				-webkit-transform: scaleX(0);
				transform: scaleX(0);
				-webkit-transition: all 0.2s ease-in-out 0s;
				transition: all 0.2s ease-in-out 0s;
			}

			&:hover:before {
				visibility: visible;
				-webkit-transform: scaleX(1);
				transform: scaleX(1);
				color: $color-white;
			}
			
		}
	}
}
