body {
  padding-top: 20px;
  padding-bottom: 20px;
  user-select: none;
  margin: 0;
  height: 100%;
  background-image: url(../images/brus.gif);
  background-size: cover;
}

html {
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h2 {
  font-family: 'AvenirNext-Bold';
  font-size: 30px;
  color: $color-white;
  
  @include for-phone-only {
    font-size: 26px;
  }
}

p {
  font-family: 'AvenirNext-DemiBold';
  color: $color-white;
  font-size: 14px;
  
  @include for-phone-only {
      font-size: 12px;
    }
}

#headline-smilys {
  font-family: 'AvenirNext-Bold';
  font-size: 46px;
  color: $color-purple;
  
  @include for-phone-only {
    font-size: 26px;
  }
}

.headline-copy {
	margin-bottom: $grid-gutter-width*2;
	
  @include for-phone-only {
	   margin-bottom: 0px;
     font-size: 26px;
	}
}

.view {
	display: none;
}

.center-container {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translate(0, -50%);
}
