#canvas {

  display: block;
}
body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0;
  height: 100%;
  background-image: url(../images/brus.gif);
  background-size: cover;
}

html {
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'AvenirNext-Bold';
  font-size: 40px;
  color: $color-purple;
}

h2 {
  font-family: 'AvenirNext-Bold';
  font-size: 40px;
  color: $color-white;
  @include for-phone-only {
    font-size: 26px;
  }
}

p {
  font-family: 'AvenirNext-DemiBold';
  color: $color-white;
  font-size: 14px;
}

#how-do-you-feel {
  color: $color-white;
  font-size: 60px;
  font-family: 'AvenirNext-DemiBold';

  @include for-phone-only {
    font-size: 26px;
  }
}

.headline-copy {
	margin-bottom: $grid-gutter-width*2;
	@include for-phone-only {
		margin-bottom: 0px;
	}
}

.view {
	display: none;
}

.center-container {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
    -webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.loader {

  margin: 0 auto;
  margin-bottom: $grid-gutter-width;
  z-index: 1;
  width: 150px;
  height: 150px;
  border: 16px solid $color-hotpink;
  border-radius: 50%;
  border-top: 16px solid $color-white;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}