//Happy containers
.container-feeling-one {
  display: none;
}

.container-feeling-two {
  display: none;
}

.container-feeling-three {
	display: none;
}

.container-feeling-four {
	display: none;
}

.container-feeling-five {
	display: none;
}

.container-feeling-six {
	display: none;
}
.container-feeling-seven {
	display: none;
}

.container-feeling-eight {
	display: none;
}

.artwork-container-happy {
	display: none;
}

.button-section-1 {

 	h1 {
 		font-size: 100px;
 		color: $color-black;
 		font-family: 'SofiaProBlack';
 	}
}

//sad Containers

.container-feeling-one-sad {
  display: none;
}

.container-feeling-two-sad {
  display: none;
}

.container-feeling-three-sad {
	display: none;
}

.container-feeling-four-sad {
	display: none;
}

.container-feeling-five-sad {
	display: none;
}

.container-feeling-six-sad {
	display: none;
}
.container-feeling-seven-sad {
	display: none;
}

.container-feeling-eight-sad {
	display: none;
}

.artwork-container-sad {
	display: none;
}
