body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0;
  height: 100%;
  background-color: $color-black;
  background-image: url(../images/brus.gif);
  background-size: cover;

}

html {
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

h1 {
  font-family: 'AvenirNext-Bold';
  font-size: 50px;
  color: $color-purple;
}

h2 {
  font-family: 'AvenirNext-Bold';
  font-size: 40px;
  color: $color-white;
  @include for-phone-only {
    font-size: 26px;
  }
}

p {
  font-family: 'AvenirNext-DemiBold';
  color: $color-white;
  font-size: 14px;
}

#how-do-you-feel {
  color: $color-white;
  font-size: 60px;
  font-family: 'AvenirNext-DemiBold';

  @include for-phone-only {
    font-size: 26px;
  }
}

//Happy containers

.feeling-copy-section-1, .feeling-copy-section-2, .feeling-copy-section-3, .feeling-copy-section-4 {
	display: none;
	margin-bottom: $grid-gutter-width*2;
	@include for-phone-only {
		margin-bottom: 0px;
	}
}

.happy-copy-section-1, .happy-copy-section-2, .happy-copy-section-3, .happy-copy-section-4 {
	display:none;
	margin-bottom: $grid-gutter-width*2;
	@include for-phone-only {
		margin-bottom: 0px;
	}
}

.container-feeling-one {
  display: none;
}

.container-feeling-two {
  display: none;
}

.container-feeling-three {
	display: none;
}

.container-feeling-four {
	display: none;
}

.container-feeling-five {
	display: none;
}

.container-feeling-six {
	display: none;
}
.container-feeling-seven {
	display: none;
}

.container-feeling-eight {
	display: none;
}

.artwork-container-happy {
	display: none;
}


//sad Containers

.container-feeling-one-sad {
  display: none;
}

.container-feeling-two-sad {
  display: none;
}

.container-feeling-three-sad {
	display: none;
}

.container-feeling-four-sad {
	display: none;
}

.container-feeling-five-sad {
	display: none;
}

.container-feeling-six-sad {
	display: none;
}
.container-feeling-seven-sad {
	display: none;
}

.container-feeling-eight-sad {
	display: none;
}

.artwork-container-sad {
	display: none;
}

.text-rendering-arwork {
	display: none;
}

.container-loading-artwork {
	display: none;
}

.center-container {
	position: absolute;
	top: 50%;
  	left: 0;
  	right: 0;
 	-webkit-transform: translate(0, -50%);
  	transform: translate(0, -50%);
}

.loader {

	margin: 0 auto;
	margin-bottom: $grid-gutter-width;
  	z-index: 1;
  	width: 150px;
  	height: 150px;
  	border: 16px solid $color-hotpink;
  	border-radius: 50%;
  	border-top: 16px solid $color-white;
  	width: 120px;
  	height: 120px;
  	-webkit-animation: spin 2s linear infinite;
  	animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





