@media only screen and (min-width: 320px){

	#art-work-happy, #art-work-sad {
		width : 200px;
	}

}

@media only screen and (min-width: 768px) {

	#art-work-happy, #art-work-sad {
		width :500px;
	}

}

@media only screen and (min-width: 1200px) {

	#art-work-happy, #art-work-sad {
		width : 500px;
	}

}