//black and white
$color-white: rgba(253, 254, 254, 1);
$color-black: rgba(0, 0, 0 ,1 );

//static colors
$color-hotpink: rgba(233, 30, 99, 1);
$color-purple: rgba(74, 20, 140, 1);
$color-lightpink: rgba(248, 187, 208, 1);


