//black and white
$color-white: rgba(253, 254, 254, 1);
$color-black: rgba(0, 0, 0 ,1 );

//static colors
$color-hotpink: rgba(233, 30, 99, 1);
$color-purple: rgba(74, 20, 140, 1);
$color-lightpink: rgba(248, 187, 208, 1);

//grey colors
$color-lightgrey: rgba(185, 188, 193, 1);
$color-grey: rgba(58, 58, 58, 1);
$color-blue-grey: rgba(39, 55, 70, 1);

//backgound animation colors sad
$color-blurgreen-dark: rgba(0, 60, 77, 1);
$color-blue-darker: rgba(28, 40, 51, 1);
$color-blurgreen: rgba(0, 53, 67, 1);

//backgound animation colors happy
$color-light-pink: rgba(255, 182, 193, 1);
$color-lightsalmon: rgba(255, 160, 122, 1);
$color-lightcoral: rgba(240, 128, 128, 1);

$color-yellow: #ffe400;

