#vertical-text-1 {
  left: 0;
  top: $grid-gutter-width*4;
  color: $color-hotpink;
}
	
#vertical-text-2 {
  left: 0;
  bottom: $grid-gutter-width*2;
  color: $color-white;
}

#vertical-text-2, #vertical-text-1 {
  position: absolute;
  transform: rotate(90deg);
  font-family: 'AvenirNext-Bold';
}


#logo-facebook {
	position: absolute;
	top: $grid-gutter-width*3;
  right: 5px;
  font-size: 34px;
  padding-right: $grid-gutter-width;
  color: $color-white;
}


#logo-instagram {
	position: absolute;
	top: $grid-gutter-width*4.5;
  right: 0;
  font-size: 34px;
  padding-right: $grid-gutter-width;
  color: $color-white;
}

#logo-happy-heart {
	position: absolute;
  right: 0;
  bottom: $grid-gutter-width;
  padding-right: $grid-gutter-width;
  color: $color-hotpink;
  font-size: 30px;
}