#vertical-text-1 {
  position: absolute;
  left: 0;
  top: $grid-gutter-width*3.5;

  p {
    margin-bottom: 0px;
    color: $color-hotpink;
    font-family: 'AvenirNext-Bold';
    transform: rotate(90deg);
    transform-origin: top ;
  }
}
	
#vertical-text-2 {
  position: absolute;
  left: 0;
  bottom: $grid-gutter-width*2;

  p {
    margin-bottom: 0px;
    color: $color-white;
    font-family: 'AvenirNext-Bold';
    transform: rotate(90deg);
    transform-origin: top;
    
  }
}

#logo-happy-heart {
  width: 40px;
  height: 40px;
  background: url(../images/heart.svg) no-repeat;
	position: absolute;
  right: $grid-gutter-width;
  bottom: $grid-gutter-width;
  color: $color-hotpink;
}

button#playpausebtn {
  display: none;
  position: absolute;
  top: $grid-gutter-width*2;
  right: $grid-gutter-width;
  background: url(../images/pause.svg) no-repeat;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: none;

}

.information-popup {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    background: $color-purple;
    background-size: cover;
    z-index: 10;

    h2 {
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      position: absolute;
      top: 20%;
      left: 0;
      right: 0;
    }
}

.close-popup {
  position: absolute;
  top: $grid-gutter-width;
  left: 90%;
  right: 0;
  color: $color-hotpink;

}

.wikitext {
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
  
/*
button#mutebtn {
  position: absolute;
  top: $grid-gutter-width*2;
  right: 0;
  font-size: 34px;
  padding-right: $grid-gutter-width;
  background: url(../images/speaker.svg) no-repeat;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  border: none;
  outline: none;
}
*/