$icon-font-path: '../fonts/';
$fa-font-path: "/bower_components/font-awesome/fonts/";


// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Nova+Mono|Shrikhand|Yatra+One&subset=greek,gujarati,latin-ext');
@import "queries";
@import "variables";
@import "header";
@import "animation";
@import "buttons";
@import "main-content";
@import "verticle-text";
@import "form";
@import "artwork";
@import "aboutme";
// endbower


body {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  margin: 0;
  height: 100%;
  background-color: $color-lightgrey;
}

html {
  height: 100%;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}


/*
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
@import url('https://fonts.googleapis.com/css?family=Nova+Mono|Shrikhand|Yatra+One&subset=greek,gujarati,latin-ext');
@import "queries";
@import "variables";
@import "header";
@import "animation";
@import "buttons";
@import "main-content";
@import "verticle-text";
@import "form";
@import "artwork";
@import "aboutme";

*/


